* {
    box-sizing: border-box;
}


.font-squad-one {
    font-family: Squada One;
    font-size: 32px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    ;
}

.header-section-container {
    background-color: #1AC073 !important;
}

.header-section {
    padding: 11%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-items: center;
    background-color: #1AC073 !important;

}

.kitchen-section {
    padding: 11%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.blog-section {
    padding: 11% 11% 11% 11%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.contact-section {
    padding: 11%;
    padding-top: 5vh;
    padding-bottom: 5vh;
} 

.foods-section{
    padding: 11% 11% 11% 11%;
}

.contact-row {
    align-items: center;
}

.bg-gray {
    background-color: #F7F8FA;
}

.icon-fa {
    width: 44px;
    height: 44px;
}

.font-sf-pro {
    font-family: SF Pro Text;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.012em;
    text-align: left;
}

.icon-white {
    color: white;
}

.icon-yellow {
    color: yellow;
}

.text-payment {
    color: #1AC073;
    font-size: 32px;
    font-family: 'ABeeZee', sans-serif;
}

.font-deca {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
}

#text-success {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bold;
    color: #223263;
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-align: center;

}